<p><%= link_to 'all questions', quiz_questions_path(@question.quiz) %></p>
<br>
<table style="text-align: left;" border="collapse">
  <tr>
    <th>Question:</th>
    <td><%= @question.body %></td>
  </tr>
  <tr>
    <th>From quiz:</th>
    <td><%= @question.quiz.title %></td>
  </tr>
  <tr>
    <th style="vertical-align: top">Answers:</th>
    <td><ul><%= render @question.answers %></ul></td>
  </tr>
</table>

<p>
  <%= link_to 'edit', edit_question_path(@question) %>
  <%= link_to 'delete',
              question_path(@question),
              'data-confirm': 'Are you sure?',
              'data-method': :delete %>
</p>
