<h1><%= t '.heading' %></h1>
<table style="text-align: left">
  <tr>
    <th><%= t 'quizzes.title' %></th>
    <th><%= t 'quizzes.level' %></th>
    <th><%= t 'quizzes.questions' %></th>
    <th><%= t :actions %></th>
  </tr>
  <%= render @quizzes %>
</table>
