<div><%= link_to 'all tests', quizzes_path %></div>
<h1><%= @quiz.title %></h1>
<table style="text-align: left">
  <tr>
    <th>Category: </th>
    <td><%= @quiz.category.title %></td>
  </tr>
  <tr>
    <th>Level: </th>
    <td><%= @quiz.level %></td>
  </tr>
  <tr>
    <th style="vertical-align: top">Questions: </th>
    <td>
      <table><%= render @quiz.questions %></table>
      <br>
      <button>
        <%= link_to 'add question', new_quiz_question_path(@quiz) %>
      </button>
    </td>
  </tr>
</table>

