<tr>
  <td><%= quiz.title %></td>
  <td><%= quiz.level %></td>
  <td><%= quiz.questions.count %></td>
  <td><%= link_to t(:show), admin_quiz_path(quiz) %></td>
  <td><%= link_to t(:edit), edit_admin_quiz_path(quiz) %></td>
  <td>
    <%= link_to t(:delete),
                admin_quiz_path(quiz),
                'data-confirm': t(:confirm),
                'data-method': :delete %>
  </td>
</tr>
