<h1><%= t '.heading' %></h1>
<p><%= link_to t(:new), new_admin_quiz_path %></p>
<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      <%= t 'quizzes.title' %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t 'quizzes.level' %></th>
    <th><%= t 'quizzes.questions' %></th>
    <th colspan='3'><%= t :actions %></th>
  </tr>
  <%= render @quizzes %>
</table>
