<h1><%= t '.title', name: @quiz_passage.quiz.title %></h1>
<hr>
<% successful = @quiz_passage.successful? %>
<p class="quiz__result">
  <%= t '.score' %>
  <span class="quiz__score quiz__score--<%= successful ? 'success' : 'fail' %>">
    <%= number_to_percentage(@quiz_passage.score, precision: 0) %>
  </span>
</p>

<p class="quiz__message">
  <%= successful ? t('.success') : t('.failure') %>
</p>

<%= link_to t('back'), quizzes_path %>
