<h2><%= t '.title', name: @quiz_passage.quiz.title %></h2>
<hr>
<% successful = @quiz_passage.successful? %>
<p>
  <%= t '.score' %>
  <span class="text-<%= successful ? 'success' : 'danger' %>">
    <%= number_to_percentage(@quiz_passage.score, precision: 0) %>
  </span>
</p>

<p class="quiz__message">
  <%= successful ? t('.success') : t('.failure') %>
</p>

<%= link_to t('back'), quizzes_path, class: 'btn btn-link' %>
